.git
output_folder/*.hdf5
output_folder/TEST_CAPLENS_coco_5_cap_per_img_5_min_word_freq.json
output_folder/TEST_CAPTIONS_coco_5_cap_per_img_5_min_word_freq.json
output_folder/TRAIN_CAPLENS_coco_5_cap_per_img_5_min_word_freq.json
output_folder/TRAIN_CAPTIONS_coco_5_cap_per_img_5_min_word_freq.json
output_folder/VAL_CAPLENS_coco_5_cap_per_img_5_min_word_freq.json
output_folder/VAL_CAPTIONS_coco_5_cap_per_img_5_min_word_freq.json
trained_models/checkpoint_coco_5_cap_per_img_5_min_word_freq.pth.tar
